* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.beginner_wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.beginner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.beginner-content {
  background-image: url(../images/Vector\ Lines.png);
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f4f4f4;
  height: 100vh;
  width: 100%;
  margin: 0 auto 0;
}

#scroll_display {
  display: flex;
}
.back_home {
  position: absolute;
  top: 16%;
  left: 10%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.beginner-content h1 {
  margin-top: 12rem;
  font-family: Eczar;
  font-size: 56px;
  font-weight: 600;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
  background: transparent;
  width: 70%;
}

.beginner-content p {
  font-size: 18px;
  width: 70%;
  background: #15141d;
  font-family: inter;
  word-spacing: 1px;
  font-weight: 400;
  height: 64px;
  line-height: 32px;
  text-align: center;
  color: #b3b3b3;
  margin-bottom: 60px;
}

.reserve-btns button {
  height: 48px;
  font-size: 16px;
  font-family: inter;
  font-weight: 500;
  border-radius: 64px;
  border: solid 1px rgba(255, 223, 188, 1);
  justify-content: center;
  gap: 10px;
  padding: 0;
  width: 192px;
  background-color: rgba(251, 133, 0, 1);
}

.beginners_mentors_container {
  gap: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  justify-content: space-around;
  align-items: center;
}

.beginners_mentor_wraps {
  transition: 0.9s;
  gap: 20px;
  background-color: transparent;
  width: 30%;
}

.beginners_mentor_wraps:hover {
  transform: scale(1.01);
  box-shadow: 0 0 30px -10px rgba(8, 8, 6, 0.25);
}
.beginners_mentor_images {
  text-align: center;
  color: azure;
  background-color: rgba(28, 27, 38, 1);
  border-radius: 16px 16px 0 0;
  width: 100%;
}

.beginner_wrapper .mentors {
  color: #b3b3b3;
  border-radius: 16px;
  height: 70%;
  width: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 72px auto 0;
}

.beginners_mentors_text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 120px;
}

.mentors_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.beginners_mentors_text h1 {
  font-family: Eczar;
  color: #fff;
  font-size: 48px;
  margin: 0;
}

.beginners_mentors_text p {
  background: rgba(21, 20, 29, 1);
}

.beginners_mentors_text .oranges {
  font-size: 48px;
  color: rgba(251, 133, 0, 1);
  font-family: Eczar;
}

.beginners_mentor_wraps .mentor_image_wrap {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.mentor_wrap {
  width: 24%;
  transition: 1.5s;
}

.mentor_wrap:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(8, 8, 6, 0.25);
}

.mentor_images {
  text-align: center;
  color: azure;
  background-color: rgba(28, 27, 38, 1);
}

.beginners_mentor_wraps .mentor_para {
  background: rgba(21, 20, 29, 1);
  justify-content: center;
  text-align: center;
}
.mentor_para h3 {
  align-items: center;
  font-family: Eczar;
  font-size: 16px;
  margin: 6px auto;
}

.mentor_para p {
  text-align: center;
  font-size: 14px;
  background: rgba(21, 20, 29, 1);
}

.beginners_mentor_images {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

.mentor_para {
  color: #b3b3b3;
  display: block;
  text-align: center;
  border: none;
  text-align: left;
  margin: 0.4rem;
  background-color: rgba(28, 27, 38, 1);
}

.faq_mentors_text h1 {
  font-size: 48px;
  font-family: Eczar;
  color: #fff;
  margin: 0 auto 0;
  width: 100%;
  margin: 0 auto 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.faq_mentors_text .oranges {
  font-size: 48px;
  line-height: 70px;
  color: rgba(251, 133, 0, 1);
  font-family: Eczar;
}
.faq_container {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 6px;
}

.faq_mentext .accordion {
  color: #b3b3b3;
}

.reserve-btn button {
  font-size: 20px;
}
.accordion_one {
  margin: 0 auto;
  height: 65%;
}

.accordion_one p {
  color: #b3b3b3;
}
.accordion_three {
  font-size: 24px;
  padding-left: 16px;
  padding-top: 12px;
}
.accordion_four {
  padding-left: 16px;
  padding-bottom: 16px;
}
.accordion_buttons {
  background-color: #1c1b26;
  margin-top: 16px;
  padding-bottom: 12px;
}
.accordion_buttons button.even {
  border-radius: 4px;
  border: 1px solid #ffb703;
  background: #fb8500;
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #f3ece5;
  height: 30px;
}

.accordion_buttons button.odd {
  border-radius: 4px;
  border: 1px solid #8ecae6;
  background: #219ebc;
  display: inline-flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #f3ece5;
  height: 30px;
  margin-bottom: 5px;
}

.button_gap {
  margin-right: 10px;
}

.begtrack_text h1 {
  background-color: darkorange;
}
.item {
  border: 3px solid rgba(75, 75, 75, 0.25);
  height: auto;
  border-radius: 12px;
  background-color: rgba(28, 27, 38, 1);
  padding: 10px 10px;
  margin-bottom: 15px;
}

.item .title {
  margin-top: 1px;
}

.video_btn {
  background-color: rgba(251, 133, 0, 1);
  width: 160px;
  color: rgb(252, 252, 252);
  border-radius: 4px;
  border-style: none;
  display: flex;
  font-family: Eczar;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  height: 20px;
}

.head_wrap {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}
