.navbar {
  position: fixed;
  top: 0;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  font-size: 18px;
  background: rgba(21, 20, 29, 1);
  z-index: 5;
   left: 0; 
   right: 0;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 2%;
  display: flex;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 0 20px;
}

.navbar-logo img {
  width: 130px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  width: auto;
  justify-content: flex-end;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  justify-self: flex-end;
}

.navbar_line {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0 0.5rem;
}



.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
  background-color: #1c1916;
}

.nav-links.nav-links-last {
  margin-right: -16px;
  padding-right: 0;
  text-align: end;
}

.nav-menu li {
  padding: 1rem;
}

.hamburger {
  display: none;
  padding: 1rem;
}

.mobile-menu {
  display: none;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 5;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .navbar-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-logo img {
    justify-content: center;
    align-items: center;
    margin: 0;
    height: auto;
    top: 0;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    background: rgba(21, 20, 29, 1);
    transition: all 0.5s ease;
    z-index: 1;
    font-size: 14px;
  }

  .nav-menu.active {
    left: 0;
  }

  .menu-icon {
    display: block;
    font-size: 1.6rem;
    cursor: pointer;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: 100%;
  }

  .nav-item {
    width: 100%;
  }

  .nav-links.nav-links-last {
    margin-right: 0;
    padding-right: 0;
    padding-left: 16px;
    text-align: center;
  }

  .logo {
    margin: 0;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}
