.type-wrap span {
  width: 100%;
  font-size: 50px;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  background-color: transparent;
}

.type-wrap {
  font-family: "Eczar";
  font-size: 56px;
  font-weight: 600;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;

  margin: 0 auto;
}

@media screen and (max-width: 767.98px) {
  .type-wrap span{
    background-color: red;
  }

  .type-wrap span {
    font-size: 2rem;
    line-height: 20px;
  }

  /* .type-wrap {
    transform: translateX(-50%);
    padding-top: 30%;
    padding-bottom: 0%;
    position: absolute;
    height: 0;
    top: 0;
    margin: 0 auto;
    justify-content: center;
    display: f;
    line-height: 38px;
  } */

  /* .reserve-btns Link {
    margin-top: 0;
    padding: 0;
  } */
}

/* @media (min-width: 768px) and (max-width: 991.98px) {
  .type-wrap {
    height: auto;
    margin: 0 auto;
    background-color: transparent;
  }
} */

/* @media (min-width: 991.9px) and (max-width: 1400px) {
  .type-wrap {
    height: auto;
    padding: 0;
    margin: 0;
    line-height: 1.2;
  }
} */
